/* 
## Colors
### Primary
#### Text
- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient
Background gradient:
- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

#### Text
- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers
- Light grayish blue: hsl(240, 5%, 91%)
 */


 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

html, body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

 body {
    background-color: hsl(274, 43%, 79%); 
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
 }

 .container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 390px;
  margin: 150px auto;
  width: 680px;
 }


 .icon {
  background-image: url(/images/bg-pattern-desktop.svg);
  background-position: 110% 70%;
  background-repeat: no-repeat;
  background-size: 260%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  width: 40%;
 }

#box-icon {
 bottom: 31%;
 left: -28%;
 position:absolute;
 width: 40%;
 z-index: 1;
}

#woman-icon {
  position:absolute;
  right: 16%;
  top: 22%;
  width: 100%;
}

 .faq{
   background-color: white;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
   height: 100%;
   padding: 50px;
   width: 60%;
 }

 .faq h1 {
   padding-bottom: 20px;
 }

.question {
  border-bottom : solid 1px hsl(240, 5%, 91%);
  cursor: pointer;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.question:after {
  background-image: url(./../../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 10px 7px;
  content: "";
  height: 7px;
  left: 290px;
  position: absolute;
  width: 10px;
}

.close {
  display: none;
}

.open  {
  border-bottom : solid 1px hsl(240, 5%, 91%);
  display: block;
  padding-bottom: 10px;
}

.active {
  border: 0px;
  font-weight: 900;
  padding-bottom: 10px;
}

.active::after{
  transform: translateY(-50%) rotate(180deg);
}



@media only screen and (max-width: 900px) {
 .container {
   background-color: transparent;
   flex-direction: column;
   height: 500px;
   justify-content: space-between;
   width: 320px;
 }

 .icon {
  background-color: white;
  background-image: url(/images/bg-pattern-mobile.svg);
  background-position: 45% 20%; 
  background-repeat: no-repeat;
  background-size: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 25%;
  width: 100%;
 border-bottom-left-radius: 0px;
 }

 #box-icon {
  left: 13%;
  position:absolute;
  top: -21%;
  width: 25%;
  z-index: 1;
  }
  
  #woman-icon {
   position:absolute;
   top: -77%;
   width: 70%;
  }

 .faq {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 0px;
   height: 75%;
   justify-self: flex-end;
   padding-top: 30px;
   padding:30px;
   width: 100%;
 }

 .faq h1 {
 text-align: center;
}

 .question:after {
  background-image: url(./../../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 10px 7px;
  content: "";
  height: 7px;
  left: 97%;
  position: absolute;
  width: 10px;
 }

}